/* Apply a background color across the whole website */
html, body {
    padding-top: 30px; /* Adds 60px of space at the top */
    line-height: 1.6;
    letter-spacing: 1px;
    margin: 0;
}

body.light-mode {
    background-color: #fcfcfc; /* Light background */
    color: #000000; /* Dark text */
}

body.dark-mode {
    background-color: #000000; /* Dark background */
    color: #fcfcfc; /* Light text */
}

body.light-mode .arrow {
    color: black; /* Arrow color for light mode */
  }
  
  /* Styles for dark mode */
  body.dark-mode .arrow {
    color: #fcfcfc; /* Arrow color for dark mode */
  }

/* Example for specific elements */
.title-box {
    background-color: inherit; /* Inherit from body */
    color: inherit; /* Inherit from body */
}

/* Add more specific dark mode styles as needed */

/* Basic link styles */
a {
    color: inherit; /* Inherit color from the parent element */
    text-decoration: none; /* Remove underline */
    font-family: 'Noto Sans', sans-serif; /* Example font family */
    text-decoration: underline; /* Underline on hover */

  }
  
  /* Hover state */
  
/* Hover effect for all links */
a:hover {
    text-decoration: underline; /* Underline on hover */
    color: rgb(168, 168, 168); /* Change text color on hover */
    transition: letter-spacing 0.8s ease, color 0.8s ease; /* Smooth transitions for letter-spacing and color */
    letter-spacing: 1.2px; /* Increase letter spacing on hover */
}

/* General content container styling */
.content-container {
  width: 80%;
  margin: 0 auto;
  text-align: left; /* Align text to the left */
}


/* Donate */
.donate-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-button  {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 250px;
  transition: background-color 0.3s, filter 0.3s, border-color 0.3s;
  border: 2px solid transparent; /* Add transparent border */
  box-sizing: border-box; /* Include border in dimensions */
}

.donate-button:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  filter: brightness(140%); /* Increase brightness by 10% */
}

.donate-button:hover .text {
  color: yellow;
}

.donate-button .icon {
  margin-right: 10px;
}

.donate-button .text {
  text-align: center;
  flex-grow: 1;
  transition: color 0.3s;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.right {
float:right;
max-width: 40%;
margin-left: 5px
}

.left {
float:left;
max-width: 40%;
margin-right: 20px
}

.imageURL {
max-width: 100%;
height: auto;
}

