/* gallery.css */

/* Gallery Container */
.infinity-gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-item {
  min-width: 100%;
  box-sizing: border-box;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}
