.slideshow {
    display: flex;
    padding: 2px;
    transition: .3s;
}

.slideshow:hover .slideshow__image {
    filter: grayscale(1);
}

.slideshow__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.slideshow__link {
    margin: 2px;
    overflow: hidden;
}

.slideshow__link:hover .slideshow__image {
    filter: grayscale(0);
}

.slideshow__link:hover .slideshow__caption {
    opacity: 1;
}

.slideshow__thumb {
    position: relative;
}

.slideshow__image {
    display: block;
    width: 100%;
    transition: .3s;
}

.slideshow__image:hover {
    transform: scale(1.1);
}

.slideshow__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
    transition: .3s;
}
