{{ $UseGallery := .Params.UseGallery | default true }}
{{ $GalleryColumns := .Params.GalleryColumns | default 3 }}

{{ if $UseGallery }}
  <section id="project-gallery" class="post-gallery">
    <ul class="images">
      <!-- Fetch pages that have a featured image -->
      {{ $featuredPages := where .Site.Pages "Params.featured" "ne" "" }}

      <!-- Sort pages by rank if available -->
      {{ $sortedPages := sort $featuredPages "Params.rank" "desc" }}

      {{ range $sortedPages }}
        {{ $featured := .Params.featured }}
        {{ if $featured }}
          <!-- Construct the full path to the image -->
          {{ $featuredPath := .Params.featured | relURL }}
          <li class="img">
            <a href="{{ .Permalink }}" title="View {{ .Title }} Gallery">
              <img src="{{ $featuredPath }}" alt="{{ .Title }}">
            </a>
          </li>
        {{ else }}
          <li class="img">
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var gallery = document.getElementById('project-gallery');
      var columns = {{ $GalleryColumns }};
      gallery.style.setProperty('--GalleryColumns', columns);
      console.log('Gallery Columns:', columns);
    });
  </script>

{{ else }}
  <!-- Debugging: Gallery is disabled -->
  <p>Gallery is disabled or not available.</p>
{{ end }}