/* Styling for Title Box */
.title-box {
    text-align: center; /* Center the text horizontally */
    font-size: 3rem; /* Very large text size */
    font-weight: bold; /* Bold text */
    padding: 10px; /* Add padding around the text (adjust if needed) */
    width: 100%; /* Span the full width of the container */
    height: 200px; /* Set the height to exactly 200px */
    box-sizing: border-box; /* Include padding in the height calculation */
    display: flex; /* Use Flexbox for vertical centering */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    margin-bottom: 30px;
}

@media (max-width: 640px) {
    .title-box {
        text-align: left; /* Center the text horizontally */
        font-size: 3rem; /* Very large text size */
        font-weight: bold; /* Bold text */
        padding: 10px; /* Add padding around the text (adjust if needed) */
        background-color: #ffffff; /* Background color */
        color: #000000; /* Black text color */
        width: 100%; /* Span the full width of the container */
        height: 100px; /* Set the height to exactly 200px */
        box-sizing: border-box; /* Include padding in the height calculation */
        display: flex; /* Use Flexbox for vertical centering */
        align-items: left; /* Center text vertically */
        justify-content: left; /* Center text horizontally */
        margin-bottom: 0px;
    }
    
}