.error-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-box {
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    margin-top: -200px; /* Adjust this value to move the box upwards */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* Ensure positioning context for pseudo-elements */
}

.error {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
}

.error:before,
.error:after {
    display: block;
    content: attr(data-error);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.error:before {
    animation: error-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
}

.error:after {
    animation: error-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #ff00ff;
    z-index: -2;
}

@keyframes error-color {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-3px, 3px);
    }
    40% {
        transform: translate(-3px, -3px);
    }
    60% {
        transform: translate(3px, 3px);
    }
    80% {
        transform: translate(3px, -3px);
    }
    100% {
        transform: translate(0);
    }
}
